<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<title>Drives - Komplett normale Busliste</title>
		<link href="/static/style.css" rel="stylesheet"/>
	</head>
	<body>
		<h1>Drives</h1>
		<form action="/superuser" method="get">
			<button>Back to superuser panel</button>
		</form>

		{{#if flash}}
			<p class="flash">{{flash}}</p>
		{{/if}}

		<p><b>NOTE: A delete action is irreversible and also deletes all associated registrations!</b></p>

		<div class="functionality-section">
			<h2>Issue new drives</h2>
			<p>Here you can issue new drives, which then can all other users register to. <b>A user cannot register to a non-existent drive.</b><p>
			<form action="/drive/new" method="post" id="login-div">
				<input type="date" name="date" required/>
				<label>Drive date</label>
				<button>Add a new drive</button>
			</form>
		</div>

		<div class="functionality-section">
			<h2>Future drives</h2>
				{{#if future_drives}}
					{{#each future_drives}}
						<form action="/drive/update" method="post" id="future-form-{{this.id}}" autocomplete="off">
							<input type="hidden" name="id" value="{{this.id}}"/>
						</form>
					{{/each}}

					<table>
						<thead>
							<tr>
								<th class="toggle-button"></th>
								<th>Date</th>
								<th>Registration deadline (in UTC)</th>
								<th>Registration cap</th>
							</tr>
						</thead>
						<tbody>
							{{#each future_drives}}
								<tr>
									<td class="toggle-button">
										<form action="/drive/delete" method="post"/>
											<input type="hidden" name="id" value="{{this.id}}"/>
											<button class="dangerous">Delete</button>
										</form>
									</td>

									<td>
										<input form="future-form-{{this.id}}" type="date" name="date" value="{{this.date}}"/>
									</td>
									<td>
										<input form="future-form-{{this.id}}" type="datetime-local" name="deadline" value="{{this.deadline}}"/>
									</td>
									<td style="display: flex;">
										<p style="width: max-content;">{{already_registered_count}} /</p>
										<input form="future-form-{{this.id}}" type="number" min="0" name="registration_cap" value="{{registration_cap}}"/>
									</td>

									<td class="toggle-button">
										<button form="future-form-{{this.id}}">Apply changes</button>
									</td>
									<td class="toggle-button">
										<form action="/drive/list" method="get"/>
											<input type="hidden" name="date" value="{{this.date}}"/>
											<button>Registrations</button>
										</form>
									</td>
								</tr>
							{{/each}}
						</tbody>
					</table>
				{{else}}
					<p>Well, seems like there are no drives in future. :(</p>
				{{/if}}
		</div>

		<div class="functionality-section">
			<h2>All drives</h2>
			{{#if past_drives}}
				{{#each past_drives}}
					<form action="/drive/update" method="post" id="past-form-{{this.id}}" autocomplete="off">
						<input type="hidden" name="id" value="{{this.id}}"/>
					</form>
				{{/each}}

				<table>
					<thead>
						<tr>
							<th class="toggle-button"></th>
							<th>Date</th>
							<th>Registration deadline (in UTC)</th>
							<th>Registration cap</th>
						</tr>
					</thead>
					<tbody>
							{{#each past_drives}}
								<tr>
									<td class="toggle-button">
										<form action="/drive/delete" method="post"/>
											<input type="hidden" name="id" value="{{this.id}}"/>
											<button class="dangerous">Delete</button>
										</form>
									</td>

									<td>
										<input form="past-form-{{this.id}}" type="date" name="date" value="{{this.date}}"/>
									</td>
									<td>
										<input form="past-form-{{this.id}}" type="datetime-local" name="deadline" value="{{this.deadline}}"/>
									</td>
									<td style="display: flex;">
										<p style="width: max-content;">{{already_registered_count}} /</p>
										<input form="past-form-{{this.id}}" type="number" min="0" name="registration_cap" value="{{registration_cap}}"/>
									</td>

									<td class="toggle-button">
										<button form="past-form-{{this.id}}">Apply changes</button>
									</td>
									<td class="toggle-button">
										<form action="/drive/list" method="get"/>
											<input type="hidden" name="date" value="{{this.date}}"/>
											<button>Registrations</button>
										</form>
									</td>
								</tr>
							{{/each}}
					</tbody>
				</table>
			{{else}}
				<p>There have never been any drives.</p>
			{{/if}}
		</div>
	</body>
</html>
